<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/select2/4.0.5/css/select2.css}"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/select2/4.0.5/js/select2.js"></script>
    <title>Recipes</title>
</head>
<body>
<form method="post" th:action="@{/createRecipe}">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="title">Titre</label>
                    <input id="title" name="title" placeholder="Titre de la recette"
                           class="form-control input-md" type="text" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="time">Temps de la recette</label>
                    <input id="time" name="time" placeholder="Temps de la recette"
                           class="form-control input-md" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="nbPeople">Nombre de personnes</label>
                    <input id="nbPeople" name="nbPeople" placeholder="Nombre de personnes"
                           class="form-control input-md" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="cost">Coût de la recette</label>
                    <input id="cost" name="cost" placeholder="Coût de la recette"
                           class="form-control input-md" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="difficulty">Difficulté de la recette</label>
                    <input id="difficulty" name="difficulty" placeholder="Difficulté de la recette (0 à 5)"
                           class="form-control input-md" type="number" pattern="[0-5]{1}"
                           maxlength="1">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    <label for="recipeText">Recette</label>
                    <input id="recipeText" name="recipeText" placeholder="La recette"
                           class="form-control input-lg" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input id="boutonSave" class="btn btn-outline-info" type="submit"
               value="&#128190; Enregistrer"/>
    </div>
</form>
</body>
</html>