<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.4.1/css/all.css">
    <script type="text/javascript" src="/webjars/font-awesome/5.4.1/js/all.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Accueil</title>
</head>
<body>
<div class="row m-2">
    <div class="col-md-12">
        <div class="col-md-6 float-left text-center">
            <a th:href="@{|/createRecipeUI|}" class="btn btn-outline-info a-btn-slide-text font-weight-bold m-2">
                &#128190; Créer une recette
            </a>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 float-left text-center">

                <a th:href="@{|/getRecipes|}" class="btn btn-outline-info a-btn-slide-text font-weight-bold m-2">
                    <span class="glyphicon glyphicon-folder-open mr-1"></span> Liste recettes
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>