<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/select2/4.0.5/css/select2.css}"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/select2/4.0.5/js/select2.js"></script>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<h1>Recettes</h1>
<ul class="p-0">
    <li th:each="recipe : ${recipes}">
        <a th:href="@{|/getRecipeDetails|}"> <!-- class="custom-card"-->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">[(${recipe.title})]</h3>
                <h5 class="card-text"><b>Temps de préparation: </b>[(${recipe.time})]</h5>
                <h5 class="card-text"><b>Personnes: </b>[(${recipe.nbPeople})]</h5>
                <!-- <p class="card-text">[(${recipe.recipe})]</p> -->
            </div>
        </div>
        </a>
    </li>
</ul>
</body>
</html>