<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.4.1/css/all.css">
    <script type="text/javascript" src="/webjars/font-awesome/5.4.1/js/all.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>[(${recipe.title})]</title>
</head>
<body>
<h1>[(${recipe.title})]</h1>
<div class="row">
    <div class="col-md-6">
        <p>Temps de la recette: [(${recipe.time})]</p>
    </div>
    <div class="col-md-6">
        <p>Coût de la recette: [(${recipe.cost})]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Nombre de personnes: [(${recipe.nbPeople})]</p>
    </div>
    <div class="col-md-6">
        <p>Difficulté de la recette: [(${recipe.difficulty})]</p>
    </div>
</div>
<div class="row">
    <p>[(${recipe.recipe})]</p>
</div>
</body>
</html>